<%- include('./src/partials/layout_top.ejs', { 
  title: 'Contact me: Portfolio Tracker', 
  description: 'Get in touch with me.',
  slug: '/contact',
  bodyClass: 'pt-25',
  jsonLd: [
    {
      "@type": "ContactPage",
      "mainEntity": {
        "@type": "Organization",
        "name": "Portfolio Tracker",
        "url": "https://portfoliotrackergooglesheets.com",
        "contactPoint": {
          "@type": "ContactPoint",
          "contactType": "customer service",
          "url": "https://portfoliotrackergooglesheets.com/contact"
        }
      }
    },
    {
      "@type": "BreadcrumbList",
      "itemListElement": [{
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "https://portfoliotrackergooglesheets.com"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Contact",
          "item": "https://portfoliotrackergooglesheets.com/contact"
        }
      ]
    }
  ]
}) %>

<section>
  <div class="container mx-auto px-4 py-4 md:px-6 md:py-16 max-w-2xl">
    <h1 class="font-display text-2xl md:text-5xl mb-3">
      Contact Us
    </h1>
    <p class="mb-12">If you have any questions or feedback regarding our portfolio tracker Add-on, reach out using the form below.</p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdyWFlTCnA3AXK3EGhWSMprvMSImYx51FI9xUGU1ljhnhFpSg/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0" title="Contact Form for Portfolio Tracker Support">Loading…</iframe>
  </div>
</section>

<%- include('./src/partials/layout_bottom.ejs') %>