@import "../../node_modules/photoswipe/dist/photoswipe.css";

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    emerald --default,
    forest --prefersdark;
}

@layer base {
  a {
    @apply no-underline; /* Ensures no underline by default */
  }
  a:hover {
    @apply underline; /* Applies underline on hover */
  }
}

iframe {
  overflow: hidden;
}
