@import "../../node_modules/photoswipe/dist/photoswipe.css";

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    emerald --default,
    forest --prefersdark;
}

@layer base {
  a {
    @apply no-underline; /* Ensures no underline by default */
  }
  a:hover {
    @apply underline; /* Applies underline on hover */
  }
}

.mona-sans-body {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Mona Sans", sans-serif;
}

iframe {
  overflow: hidden;
}

.menu li.active > a {
  @apply bg-gray-100 text-primary-content; /* Or customize as needed */
}
