@import "../../node_modules/photoswipe/dist/photoswipe.css";

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    emerald --default,
    forest --prefersdark;
}

@layer base {
  a {
    @apply no-underline; /* Ensures no underline by default */
  }
  a:hover {
    @apply underline; /* Applies underline on hover */
  }
}

body {
  font-family:
    "IBM Plex Mono", ui-monospace, "SFMono-Regular", "Menlo", "Monaco",
    "Consolas", "Liberation Mono", "Courier New", monospace;
}

iframe {
  overflow: hidden;
}

.menu li.active > a {
  @apply bg-gray-100 text-primary-content; /* Or customize as needed */
}
