<head>
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NGRM269Z');
  </script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta name="keywords" content="Portfolio Tracker, Google Sheets, Investment Tracking, Financial Management, Stock Portfolio, Crypto Portfolio, Options Portfolio, Asset Management" />
  <meta property="og:title" content="Portfolio Tracker - Track your portfolio in Google Sheets" />
  <meta property="og:image" content="/img/logo.svg" />
  <link rel="stylesheet" href="/src/styles.css" />
  <link rel="icon" href="/img/favicon.png" type="image/png" sizes="256x256" />
  <link rel="canonical" href="https://portfoliotrackergooglesheets.com/" />
</head>