<!doctype html>
<html lang="en" data-theme="emerald">
<%- include('./src/partials/head.ejs', { title: 'Privacy Policy: Portfolio Tracker', description: 'Review the privacy policy for Portfolio Tracker.' }) %>

<body class="bg-white pt-25 font-sans text-gray-900 antialiased">
  <!-- Header -->
  <%- include('./src/partials/header.ejs') %>
  <section>
    <div class="container mx-auto px-4 py-4 md:px-6 md:py-16">
      <h1 class="font-display text-2xl md:text-5xl mb-3">
        Documentation
      </h1>
      <p>Here we will provide information on how to use the Portfolio Tracker Add-on effectively.</p>
    </div>
  </section>

  <!-- Footer -->
  <%- include('./src/partials/footer.ejs') %>
</body>

</html>