<!doctype html>
<html lang="en" data-theme="pastel">
<%- include('./src/partials/head.ejs', { title: 'Portfolio Tracker', description: 'Track your portfolio in Google Sheets effortlessly.' }) %>

<body>
  <div class="pt-25 pb-25 flex items-center justify-center ">

    <div class="text-center px-4">
      <img src="/img/logo.svg" alt="Portfolio Tracker Logo" class="mx-auto w-96 max-w-full">
      <h1 class="text-2xl font-bold mt-6 text-gray-800">Track Your Portfolio<br>in Google Sheets</h1>
      <p class="text-1xl mt-4 text-gray-600">Soon</p>

    </div>
  </div>
  <!-- Footer -->
  <%- include('./src/partials/footer.ejs') %>
  <script type="module" src="/src/main.ts"></script>
</body>

</html>