<!doctype html>
<html lang="en" data-theme="pastel">
<%- include('./src/partials/head.ejs', { title: 'Privacy Policy: Portfolio Tracker', description: 'Review the privacy policy for Portfolio Tracker.' }) %>

<body class="bg-white pt-25 font-sans text-gray-900 antialiased">

  <section>
    <div class="container mx-auto px-4 py-4 md:px-6 md:py-16">
      <div class="mx-auto prose">
        <h1 class="font-display text-2xl md:text-5xl mb-1">
          Privacy Policy – Portfolio Tracker
        </h1>

        <p>
          Our privacy policy explains how we collect, use, and protect your data:
        </p>


      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include('./src/partials/footer.ejs') %>
</body>

</html>