<!doctype html>
<html lang="en" data-theme="pastel">
<%- include('./src/partials/head.ejs', { title: 'Terms and Services: Luma', description: 'Review the terms and conditions for your stay at Luma Goa.' }) %>

<body class="bg-white pt-25 font-sans text-gray-900 antialiased">

  <section>
    <div class="container mx-auto px-4 py-4 md:px-6 md:py-16">
      <div class="mx-auto prose">
        <h1 class="font-display text-2xl md:text-5xl mb-1">
          Terms and Services – Portfolio Tracker
        </h1>

        <p>
          Welcome to Portfolio Tracker! By using our services, you agree
          to these terms:
        </p>


      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include('./src/partials/footer.ejs') %>
</body>

</html>